/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --clr-dark: #000033;
  --clr-light:  #F5F8FA;
  --clr-gray: #41393A;

  /* Warm Color Pallet */

  --clr-Pink: #FF3399;
  --clr-Pink-light: #FF6699;
  --clr-Yellow: #FFCC33;

  /* Cool Color Pallet */
  --clr-Blue: #113C77;
  --clr-Purple:  #8E74B3;
  --clr-Light-Purple: #C465A7;

  /* Fonts and sizes See VRCon 2021 Brand Style Guide */
  --ff-primary: 'Rubik', sans-serif;
  --ff-secondary: 'Nunito', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-h1: 3rem;
  --fs-h2: 2.2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

/* semantic color variables for this project */
:root {
  --clr-background: var(--clr-light);
  --clr-text: var(--clr-dark);
  --clr-accent1: var(--clr-Pink);
  --clr-accent2: var(--clr-Pink-light);
  --clr-accent3: var(--clr-Yellow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-background: var(--clr-dark);
    --clr-text: var(--clr-light);
    --clr-accent1: var(--clr-Blue);
    --clr-accent2: var(--clr-Purple);
    --clr-accent3: var(--clr-Light-Purple);
  }
}

p {
  font-weight: var(--fw-normal);
  font-size: var(--fs-body);
}

h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
}

h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
}

h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html, 
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--clr-text);
  background: var(--clr-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  font-weight: var(--fw-bold);
  color: var(--clr-accent2);
  transition: 0.4s;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}